flows/Opportunity_Stock_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Does_Not_Update</name>
        <label>Does Not Update</label>
        <locationX>798</locationX>
        <locationY>2759</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity did not closed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Products_List</name>
        <label>Add To Products List</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>ListProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Products_For_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Update_List</name>
        <label>Add To Update List</label>
        <locationX>862</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>Products_For_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Analyze_Quantity_Add_List_For_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Analyze_Quantity_Add_List_For_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dec</name>
        <label>Dec</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>State</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Value_Before_Not_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Stock_Value</name>
        <label>Decrease Stock Value</label>
        <locationX>1062</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>Analyze_Quantity_Add_List_For_Update.Stock__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Decrease.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inc</name>
        <label>Inc</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>State</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Value_Before_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Stock_Value</name>
        <label>Increase Stock Value</label>
        <locationX>1102</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Analyze_Quantity_Add_List_For_Update.Stock__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Increase.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_User_For_Notification</name>
        <label>Current User For Notification</label>
        <locationX>798</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Not_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Old_Stage_Value</name>
        <label>Check Old Stage Value</label>
        <locationX>270</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Inc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Equal_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec</targetReference>
            </connector>
            <label>Does Not Equal Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control_Negative_Value</name>
        <label>Control Negative Value</label>
        <locationX>930</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Decrease_Stock_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decrease.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Analyze_Quantity_Add_List_For_Update.Stock__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_Opportunity_Stage</targetReference>
            </connector>
            <label>Is Negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control_Unique_Products</name>
        <label>Control Unique Products</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Add_To_Products_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Product</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Products_For_Opp_Products</targetReference>
            </connector>
            <label>Already Included</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDecrease</name>
        <label>isDecrease</label>
        <locationX>862</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Increase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Is_Decrease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease</targetReference>
            </connector>
            <label>It Is Decrease</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Value_Before_Closed_Won</name>
        <label>Check New Stage Value (before Closed Won)</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Stage_Is_Not_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_List_Opp_Products</targetReference>
            </connector>
            <label>New Stage Is Not Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Value_Before_Not_Closed_Won</name>
        <label>Check New Stage Value (before Not Closed Won)</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_List_Opp_Products</targetReference>
            </connector>
            <label>New Stage Is Closed Won</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Trigger</label>
    <loops>
        <name>Analyze_Quantity_Add_List_For_Update</name>
        <label>Analyze Quantity / Add List For Update</label>
        <locationX>270</locationX>
        <locationY>1799</locationY>
        <collectionReference>ListProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Decrease</name>
        <label>Decrease</label>
        <locationX>710</locationX>
        <locationY>2159</locationY>
        <collectionReference>Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Control_Negative_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_To_Update_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Increase</name>
        <label>Increase</label>
        <locationX>1014</locationX>
        <locationY>2159</locationY>
        <collectionReference>Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Stock_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_To_Update_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Select_Products_For_Opp_Products</name>
        <label>Select Products For Opp Products</label>
        <locationX>270</locationX>
        <locationY>1127</locationY>
        <collectionReference>List_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Analyze_Quantity_Add_List_For_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_List_Opp_Products</name>
        <label>Get List Opp Products</label>
        <locationX>270</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products_For_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>List_Opp_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <sortField>Product2Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>798</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_User_For_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_closing_error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Control_Unique_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Products_For_Opp_Products.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stock__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opp_Products</name>
        <label>Opp_Products</label>
        <locationX>862</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isDecrease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Analyze_Quantity_Add_List_For_Update.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Back_Opportunity_Stage</name>
        <label>Rollback Opportunity Stage</label>
        <locationX>798</locationX>
        <locationY>2399</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Products</name>
        <label>Update Products</label>
        <locationX>270</locationX>
        <locationY>3503</locationY>
        <inputReference>Products_For_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Old_Stage_Value</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have not enough products in Stock for Opportunity: {!$Record.Name} (Id: {!$Record.Id})!</text>
    </textTemplates>
    <variables>
        <name>List_Opp_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ListProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ListProductsForIncrease</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Products_For_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
